
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div> 
       
        <table border="1">
            @foreach (var item in ViewBag.productList)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a href="/Main/Delete?product=@item.Name" onclick="return confirm ('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
      </table>

        <a href="/Main/AddProduct">Add a new product</a>




    </div>
</body>
</html>
